.boxed {
  width: 100%;
  padding:10px;
}
.bottom {
  position: absolute;
  bottom: 10px;
  width: 90%;
}
.scrolling {
    overflow: scroll;
    max-height: 40vh;
}
#picture{
    width: 50%;
    margin: 10px 20px;
}