<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/image.js"></script>
<!--    <script src="/javascripts/database.js"></script>-->
<!--    <script src="/javascripts/idb.js"></script>-->

</head>

<body onload="init()">

<div id="initial_form" style="display: block">
    <h1><%= title %></h1>
    <h5>Click on frame to capture</h5>
    <video id="camera" autoplay></video>
    <canvas id="frame" width="1280" height="500"style="display:none;"></canvas>
    <div id="button-container" style="display:none;">
        <button id="shotBtn" onclick="takePic()">Take new picture</button>
        <button id="uploadBtn" onclick="savePic()">Save/upload picture</button>
    </div>
    <div id="link"></div>
    <a href="/">Go back</a>
</div>

</body>
</html>
