<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/room.js"></script>
    <script src="/javascripts/knowledgeG.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/database.js"></script>
    <script src="/javascripts/idb.js"></script>
</head>

<body onload="initRoom()">
    <div class="container">
        <h2><%= title %> <div id="in_room" style="display:inline-block"></div></h2>
        <h3>Username: <div id="who_you_are" style="display:inline-block"></div></h3>
        <button onclick="goBack()" class="btn btn-danger">Back</button>

        <div class="row mb-3 mt-3" id="annotation">
            <div class="col-md-6 border">
                <div class="row">
                    <img id="image" width="100%">
                    <canvas id="canvas"></canvas>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button id="canvas-clear" class="btn btn-warning">Clear</button>
                </div>
            </div>

            <div class="col-md-6 border">
                <div class="mb-3 mt-3">
                    <button class="btn btn-success" onclick="addKnowledgeG()">Add Knowledge Graph</button>
                </div>
                <div class="row" id="knowledgeG" style="display:none">
                    <div class="mb-3 row">
                        <div class="form-text">Draw frame before adding information</div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-2">
                            <label for="graphType" class="col-form-label">Search Type:</label>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control" id="graphType">
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-secondary" onclick="widgetInit()">Confirm</button>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-2">
                            <label for="myInput" class="col-form-label">Keyword:</label>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control" id="graphInput" placeholder="Enter type first" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div id="resultPanel" class="overflow-auto" style="max-width: 650px; max-height: 500px"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="chat">
        <form onsubmit="return false;">
            <div class="row">
                <div class="col-auto">
                    <label for="chat_input" class="col-form-label"> Chat: </label>
                </div>
                <div class="col-md-10">
                    <div class="input-group">
                        <input type="text" id="chat_input" class="form-control">
                        <button id="chat_send" class="btn btn-outline-secondary" onclick="sendChatText()">Send</button>
                    </div>
                </div>
            </div>
        </form>
        <div id="history" style="height: 35vh" class="boxed scrolling" ></div>
    </div>


</body>

</html>
