<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/upload.js"></script>
</head>

<body onload="init()">

    <div class="container">
        <h2><%= title %></h2>
        <form onsubmit="return false;">

            <div class="form-group row">
                <div class="form-group col-md-6">
                    <label for="title"> Title </label>
                    <input type="text" id="title" name="title" class="form-control">
                </div>

                <div class="form-group col-md-6">
                    <label for="author" class="col-form-label"> Author </label>
                    <input type="text" id="author" name="author" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="description"> Description </label>
                <textarea id="description" name="description" rows="5" class="form-control"></textarea>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="image_url"> Image (URL) </label>
                        <input type="text" id="image_url" name="image_url" class="form-control">
                        <button onclick="confirmImage()" class="btn">Load</button>
                    </div>

                    <div class="form-group">
                        <label for="camera" style="display:block"> Camera </label>
                        <video id="camera" width="400px" height="300px" autoplay></video>
                        <div>
                            <button id="shotBtn" onclick="snapshot()" class="btn">Take picture</button>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Image Preview:</label>
                    <canvas id="canvas" width="400px" height="300px" style="display:none"></canvas>
                </div>

            </div>

            <div class="form-group">
                <button onclick="uploadImage()" class="btn">Upload</button>
                <button onclick="goBack()" class="btn">Go Back</button>
            </div>

        </form>
    </div>

</body>

</html>
